name: Build Linux FFmpeg simple

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: sudo apt update && sudo apt install -y yasm nasm build-essential

      - name: Build FFmpeg
        run: ./build.sh win64 nonfree
