name: FFmpeg win64 nonfree

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # GH hosted обычно ограничен ~6 часов, оставляем запас
    timeout-minutes: 720

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Image
        run: |
          chmod +x makeimage.sh
          ./makeimage.sh win64 nonfree

      - name: Build FFmpeg (win64 nonfree)
        run: |
          chmod +x build.sh
          ./build.sh win64 nonfree

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-win64-nonfree
          path: artifacts/*.zip
