name: FFmpeg win64 nonfree

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull base image
        run: |
          docker pull ghcr.io/btbn/ffmpeg-builds/base-win64:latest

      - name: Build FFmpeg (win64 nonfree)
        env:
          IMAGE: ghcr.io/btbn/ffmpeg-builds/base-win64:latest
        run: |
          chmod +x build.sh
          ./build.sh win64 nonfree

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-win64-nonfree
          path: artifacts/*.zip
