name: Build FFmpeg win64-nonfree

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: sudo apt update && sudo apt install -y yasm nasm build-essential

      - name: Build image
        run: |
          ./makeimage.sh win64 nonfree

      - name: Build FFmpeg
        run: |
          ./build.sh win64 nonfree
